html,
body {
	height: 100%;
}

html {
}

body {
	@apply font-sans;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
}

video,
img,
.wp-video {
	max-width: 100%;
}

.cm {
	@include cm();
}
