/* (>'-')>

SHARED BEM
-----------------
 */

.list {
	@apply pl-0;
	list-style: none;
}

.responsive-wrap {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	iframe {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}
